{
  "presets": [
    "@babel/env",
    [
      "@babel/typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    "@babel/react"
  ],
  "plugins": ["classy-ui/plugin"]
}
